<a href="https://colab.research.google.com/github/ditamaylani/Basic-Python-Programming-for-Data-Science/blob/main/Dita_Maylani_1800015084_Variabel_%26_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1oZeOBAOozxedBi-jq-LzN8BQd0NB7Ocy
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk **Kelas Dasar Pejuang Data Sains 2.0** .

Ini adalah **Notebook Variabel & Tipe Data**:

## **Hasil Yang Ingin Dicapai**
1. Memahami input dan output pada python
2. Mengenal dan memahami variabel dan tipe data pada python
3. Mengenal dan memahami struktur data pada python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***

##  **Input & Output pada Pyhton**

Kita akan memulai dengan mencoba mengenal dan memahami proses input dan output pada bahasa pemrograman python. Sebuah Program terdiri dari Input, Proses dan Output

**Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [ ]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")

Nama : Pejuang Data
Umur : 17
Alamat : Yogyakarta

In [ ]:
print(nama)
print(umur)
type(nama)

Pejuang Data
17

str

In [ ]:
# Membuat input bertipe data integer (int)
angka1 = int(input())
print(angka1)

1
1

In [ ]:
# Membuat input beripe data float
angka2 = float(input())
print(angka2)

2
2.0

Saatnya aku mencoba!!! ini mudah kok

In [6]:
# Input data string (str)
nama = input("Nama : ")
hobi = input("Hobi: ")

Nama : Dita Maylani
Hobi: menghitung uang

In [2]:
# Input data integer (int)
usia = int(input())
print(usia)

21
21

In [3]:
# Input data float
nilai = float(input())
print(nilai)

8.5
8.5

**Menampilkan Output cara pertama**

In [ ]:
print("Nama saya"+" "+ nama + " " + "yang berumur"+ " " + umur + " " + "dan bertempat tinggal di"+ " " + alamat)

Nama saya Pejuang Data yang berumur 17 dan bertempat tinggal di Yogyakarta

Saatnya aku mencoba!!! ini mah gampang tauu

In [11]:
print("Namaku"+ " " + nama + " " + "aku memiliki hobi" + " " + hobi)

Namaku Dita Maylani aku memiliki hobi menghitung uang

**Menampilkan Output cara kedua**

Menggunakan fungsi format()

In [ ]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Dahlan", umur = 18)
txt1

'Nama saya Dahlan, Saya berumur 18'

In [21]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Dahlan",18)
txt2

'Nama saya 18, Saya berumur Dahlan'

In [ ]:
txt3 = "Nama saya {}, Saya berumur {}".format("Dahlan",18)
txt3

'Nama saya Dahlan, Saya berumur 18'

Saatnya aku mencoba!!! lagi lagi aku bisa hufttt

In [15]:
coba_aja = "Nama saya {}, usiaku {} tahun, saat ini aku sedang melanjutkan pendidikanku di {}".format("Dita",21,"UAD")
coba_aja

'Nama saya Dita, usiaku 21 tahun, saat ini aku sedang melanjutkan pendidikanku di UAD'

In [16]:
coba_aja = "Nama saya {0}, usiaku {1} tahun, saat ini aku sedang melanjutkan pendidikanku di {2}".format("Dita",21,"UAD")
coba_aja

'Nama saya Dita, usiaku 21 tahun, saat ini aku sedang melanjutkan pendidikanku di UAD'

In [17]:
coba_aja = "Nama saya {nama}, usiaku {usia} tahun, saat ini aku sedang melanjutkan pendidikanku di {kampus}".format(nama = "Dita", usia = 20, kampus = "UAD")
coba_aja

'Nama saya Dita, usiaku 20 tahun, saat ini aku sedang melanjutkan pendidikanku di UAD'

**Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [ ]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya Pejuang Data yang berumur 17 dan bertempat tinggal di Yogyakarta

Saatnya aku mencoba!!! tu kan bisa lagi

In [30]:
print("Namaku %s yang berusia %u tahun, aku memiliki hobi %s, btw nilai PDP ku %g lohh" %(nama, usia, hobi, nilai))

Namaku Dita Maylani yang berusia 21 tahun, aku memiliki hobi menghitung uang, btw nilai PDP ku 8.5 lohh

## **Variabel, Tipe Data, Dan Konversinya**

Selanjutnya kita akan mengenal variabel dan tipe data pada python. Ini merupakan dasar yang harus dipahami di awal sebelum melanjutkan ke materi berikutnya. Pertama kita akan memahami bagaimana sebuah variabel dituliskan dalam python.

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**Membuat sebuah variabel dengan berbagai tipe data Python**

In [46]:
var1 = 'Assalamualaikum Dunia!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = False #bool
var5 = 1j+1 #complex

Buat variabelmu sendiri di bawah ini ya!

In [59]:
A = 'Mari Berhitung!' #string
B = True #boolean
C = 3j+1 #complex
x1 = 2 #int
x2 = 2.5 #float
x3 = x1 + C #complex
x4 = x1 - x2 #float

**Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

In [ ]:
var1

'Assalamualaikum Dunia!'

Saatnya kamu mencoba!!!

In [58]:
x3

(3+3j)

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Contohnya sebagai berikut:

In [ ]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Assalamualaikum Dunia!
1234567890
0.123456789
False
(1+1j)

Sekarang, tampilkan variabelmu sendiri:

In [60]:
#Mencetak variabel punya akohhh
print(A) #String
print(B) #Boolean
print(C) #Complec
print(x1) #Integer
print(x2) #Float
print(x3) #Complex
print(x4) #Float

Mari Berhitung!
True
(1+3j)
2
2.5
(3+3j)
-0.5

Note: Tanda Pagar (#) berfungsi sebagai komentar, tidak dijalankan sebagai perintah pemrograman

### Tipe Data

Tipe data adalah kumpulan tipe yang dapat kamu temukan di semua data. Dengan memahami tipe data, kamu dapat menentukan nilai data yang dimiliki dari data tersebut.


**Mengenal Beberapa Tipe Data Pada Python:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

**Melihat Tipe Data dari Suatu Variabel**

Kamu bisa melihat tipe variabel yang sudah kamu buat,apakah tipe data kamu adalah int, float, boolean, string, dll menggunakan fungsi **type(*variabel*)**, sebagai berikut:

In [ ]:
type(var1)

str

Sekarang coba kamu cek tipe variabel yang udah kamu buat!!!

In [63]:
#Mengecek tipe variabel
type(A) #String
type(B) #Boolean
type(C) #Complec
type(x1) #Integer
type(x2) #Float
type(x3) #Complex
type(x4) #Float

float

Kok yang tampil cuma yang terakhir!!!, ya emang begitu, python hanya akan ngejalanin line terakhir untuk ditampilin, biar tampil semua maka kita print aja seperti di bawah ini:

In [ ]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))

Assalamualaikum Dunia! Tipe data var1: <class 'str'>
1234567890 Tipe data var2: <class 'int'>
0.123456789 Tipe data var3: <class 'float'>
False Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>

In [64]:
print(A, type(A))
print(B, type(B))
print(C, type(C))
print(x1, type(x1))
print(x2, type(x2))
print(x3, type(x3))
print(x4, type(x4))

Mari Berhitung! <class 'str'>
True <class 'bool'>
(1+3j) <class 'complex'>
2 <class 'int'>
2.5 <class 'float'>
(3+3j) <class 'complex'>
-0.5 <class 'float'>

### Konversi Tipe Data

Capek gag sih, bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begono.

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya ini ya:

In [70]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

In [71]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  10.0 ,type = <class 'float'>
data =  10 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

Saatnya kamu mencoba!!!

In [84]:
angka = 8
print("data =", angka, ", type =", type(angka))

data = 8 , type = <class 'int'>

In [86]:
# Mengkonversi tipe data integer
kon_float = float(angka)
kon_str = str(angka)
kon_bool = bool(angka) #False jika integer = 0, lainnya True
kon_chr = chr(angka)
kon_bin = bin(angka)
kon_hex = hex(angka)
kon_oct = oct(angka)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))
print("data = ", kon_chr , ",type =", type(kon_chr))
print("data = ", kon_bin , ",type =", type(kon_bin))
print("data = ", kon_hex , ",type =", type(kon_hex))
print("data = ", kon_oct , ",type =", type(kon_oct))

data =  8.0 ,type = <class 'float'>
data =  8 ,type = <class 'str'>
data =  True ,type = <class 'bool'>
data =   ,type = <class 'str'>
data =  0b1000 ,type = <class 'str'>
data =  0x8 ,type = <class 'str'>
data =  0o10 ,type = <class 'str'>

## **Berbagai Struktur Data di Python**

### **List**

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [ ]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

Bikin versimu sendiri donk, jangan baca doank! heheheh

In [88]:
yayaya = [4, 'saya', 2j+1]
yayaya

[4, 'saya', (1+2j)]

Python mengenal slicing operator [ ] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan  index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [117]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

Cobain ya!

In [92]:
x = [2,5,3,1,8,4,9,6]
print(x[:-3])
print(x[3:7:3])
print(x[2:5])
print(x[1:])
print(x[-4])

[2, 5, 3, 1, 8]
[1, 9]
[3, 1, 8]
[5, 3, 1, 8, 4, 9, 6]
8

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [ ]:
#Mengganti elemen
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [93]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(5) #append artinya menambah
print(x)

[1, 2, 4, 5]

Saatnya kamu mencoba!

In [94]:
#Mengganti dan menambahkan elemen
x = [2,5,3,1,8,4,9,6]
x[2]=2
x[-3]=3
x.append(10)
print(x)

[2, 5, 2, 1, 8, 3, 9, 6, 10]

Untuk menghapus item pada list, gunakan fungsi del. *Ingat bahwa Indeks Python dimulai dari 0*:

In [104]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

Do it by yourself

In [95]:
x = [2,5,3,1,8,4,9,6]
del x[2:3]
del x[-2]
print(x)

[2, 5, 1, 8, 4, 6]

Coba tambahkan kembali:

In [105]:
del binatang [2]
print(binatang)

['kucing', 'rusa']

Cobain yaa!

In [98]:
del x[2:3]
del x[-2]
print(x)

[2, 5, 8, 6]

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [99]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

l
muala
Halo Dunia!

In [100]:
s[5]="d"        #ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

TypeError: ignored

Cobain yaa!

In [102]:
x = 2, 5, 3, 1, 8, 4, 9, 6
print(x[:4])
x = 'holla everyone!'
print(x)

(2, 5, 3, 1)
holla everyone!

### **Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [106]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [108]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

program
(5, 'program', (1+3j))

In [109]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

SyntaxError: ignored

karna tuple sifatnya sekali tulis jadi kalo di awal udh didefinisiin index 0 nya 5 ya gabisa diubah jadi 10.

In [ ]:
a = (5, 6, 7,'aku')#bikin sendiri donk, kreatif dikit napa
print (a)
print(a[1])
del[]

(5, 6, 7, 'aku')
6

### **Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [118]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [111]:
a = {1,2,3}
print(a[1])

TypeError: ignored

### **Dictionary**

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [112]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [113]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [119]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [120]:
# Nyobain error
print("d[2] = ", d[2]);

KeyError: ignored

In [123]:
d = {'aku':'value','key':'dia'}
print(type(d))
print("d['aku'] = ", d['aku']);
print("d['key'] = ", d['key']);

<class 'dict'>
d['aku'] =  value
d['key'] =  dia

### **Konversi Struktur Data**

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

Nah sampai sini, coba kamu tulis pemahaman kamu tentang List, Tuple, Set, dan Dictionary, tulis pake bahasa kamu sendiri ya:

 **List** merupakan kumpulan data terurut. Berbeda dengan 
array, pada list elemennya bisa dengan tipe data yang berbeda.

*Contoh:*

 yayaya = [4, 'saya', 2j+1]. Pada variabel yayaya terdapat elemen dengan tipe integer, string, dan kompleks. 

List tidak bisa dipanggil urut mundur, dari beleakang ke depan.

*Contoh:*

x = [5,10,15,20,25,30,35,40]

print(x[5:2])

akan menghasilkan output [].

Elemen pada list dapat diubah dan ditambahkan, berbeda dengan tuple.


**Tuple** merupakan jenis array hanya saja tidak dapat diubah karena sifatnya yang sekali tulis.


**Set** merupakan kumpulan item bersifat unik dan tanpa urutan. Untuk elemen yang sama tidak akan muncul 2x atau lebih pada output.

*contoh:*

a = {1,2,2,3,3,3}

print(a)

akan menghasilkan output {1, 2, 3}.

Di dalam set juga tidak dapat mengambil sebagian data.


**Dictionary** pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Dictionary tidak bisa dipanggil sesuai dengan urutan indeks.

#**Udah Dulu Ya**

Alhamdulillah