<a href="https://colab.research.google.com/github/ditamaylani/Basic-Python-Programming-for-Data-Science/blob/main/List%2C_String_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1Jnmc3tPdh1jxyNwURPKEqzpM_qdEwaJc
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk program **Kelas Dasar Pejuang Data 2.0** .

Ini adalah **Notebook, List, String, & Dictionary Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami List Pada Python
2. Mengenal dan memahami method-method pada List Python
3. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python
5. Memahami Dictionary Pada Python
6. Mengenal dan memahami method-method pada Dictionary Python

# **List Pada Python**
List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

## Membuat List

In [ ]:
sekolah = ["TK", "SD", "SMP" , "SMA"]
print(sekolah)

['TK', 'SD', 'SMP', 'SMA']

## Mengakses elemen List

Menampilkan elemen
caranya dengan menggunakan fungsi print

In [ ]:
sekolah = ["TK", "SD", "SMP" , "SMA"]
print(sekolah[3])
print(sekolah[1:])
print(sekolah[0:3:2])
print(sekolah[-2])
print(sekolah[-4:-1])

SMA
['SD', 'SMP', 'SMA']
['TK', 'SMP']
SMP
['TK', 'SD', 'SMP']

## Mengubah elemen List

cara mengubah elemen dalam list

In [ ]:
sekolah = ["TK", "SD", "SMP" , "SMA"]
sekolah[3] = "SMK"
print(sekolah)

['TK', 'SD', 'SMP', 'SMK']

## Looping di dalam List

looping pada list

In [ ]:
sekolah = ["TK", "SD", "SMP" , "SMA"]
for x in sekolah:
  print(x)

TK
SD
SMP
SMA

## Cek elemen pada List

cara mengecek apakah suatu elemen berada dalam list

In [ ]:
sekolah = ["TK", "SD", "SMP" , "SMA"]
if "SD" in sekolah:
  print('SD termasuk dalam tahap sekolah')

SD termasuk dalam tahap sekolah

## Menghitung jumlah elemen List

cara mengetahui jumlah elemen dalam list

In [ ]:
sekolah = ["TK", "SD", "SMP" , "SMA"]
print(len(sekolah))

4

# **Berbagai Method untuk List pada Python**

## Menambah elemen List

cara menambahkan elemen dalam list
ada 2 cara untuk menambahkan elemen pada list, yaitu;
1. menggunakan metode append()
2. menggunakan metode insert()

In [ ]:
#metode append : menambahkan elemen pada baris terakhir
sekolah = ["TK", "SD", "SMP" , "SMA"]
sekolah.append("SMK")
print(sekolah)

['TK', 'SD', 'SMP', 'SMA', 'SMK']

In [ ]:
#metode insert : memasukkan elemen pada baris tertentu
sekolah = ["TK", "SD", "SMP" , "SMA"]
sekolah.insert(3, 'SMK')
print(sekolah)

['TK', 'SD', 'SMP', 'SMK', 'SMA']

## Menghapus elemen List

menghapus elemen dalam list
ada beberapa cara untuk menghapus elemen
1. menggunakan keyword del
2. menggunakan metode remove()
3. menggunakan metode pop()
4. menggunakan metode clear()

In [ ]:
#menggunakan keyword del,(bukan hanya bisa menghapus elemen tapi bisa juga untuk mnghapus list)
sekolah = ["TK", "SD", "SMP" , "SMA"]
del sekolah[0]
print(sekolah)

['SD', 'SMP', 'SMA']

In [ ]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
sekolah = ["TK", "SD", "SMP" , "SMA"]
sekolah.remove("TK")
print(sekolah)

['SD', 'SMP', 'SMA']

In [ ]:
#menggunakan metode pop(a): menghapus elemen baris ke-a atau baris terakhir
sekolah = ["TK", "SD", "SMP" , "SMA"]
sekolah.pop(3)
print(sekolah)

['TK', 'SD', 'SMP']

In [ ]:
#menggunakan metode clear(): menghapus seluruh elemen pada list
sekolah = ["TK", "SD", "SMP" , "SMA"]
sekolah.clear()
print(sekolah)

[]

##Menyalin List

Terdapat 2 cara untuk menyalin (*copy*) list
1. menggunakan metode copy()
2. menggunakan metode list()

In [ ]:
#menggunakan metode copy()
sekolah = ["TK", "SD", "SMP", "SMA"]
school = sekolah.copy()
print(school)

['TK', 'SD', 'SMP', 'SMA']

In [ ]:
#menggunakan metode list()
sekolah = ["TK", "SD", "SMP", "SMA"]
school = list(sekolah)
print(school)

['TK', 'SD', 'SMP', 'SMA']

## Menggabung List

cara menggabungkan 2 list
1. menggunakan tanda +
2. menggunakan metode append()
3. menggunakan metode extend()

In [ ]:
#menggnakan tanda +
sekolah = ["TK", "SD", "SMP", "SMA"]
akreditas = ["A", "B", "C"]
gabung = sekolah + akreditas
print(gabung)

['TK', 'SD', 'SMP', 'SMA', 'A', 'B', 'C']

In [ ]:
#menggunakan metode append
sekolah = ["TK", "SD", "SMP", "SMA"]
akreditas = ["A", "B", "C"]
for x in akreditas:
  sekolah.append(x)
print(sekolah)

['TK', 'SD', 'SMP', 'SMA', 'A', 'B', 'C']

In [ ]:
#menggunakan metode extend
sekolah = ["TK", "SD", "SMP", "SMA"]
akreditas = ["A", "B", "C"]
sekolah.extend(akreditas)
print(sekolah)

['TK', 'SD', 'SMP', 'SMA', 'A', 'B', 'C']

# **String pada Python**

## *String Literals*
####*String literals* dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [ ]:
#Contoh :
print("Singa")
print('Singa')

Singa
Singa

Expected output:
```
Singa
Singa
```

In [ ]:
#Mulai Program mu....^_^
print("Aku Suka Warna Biru")
print('Aku Suka Warna Biru')

Aku Suka Warna Biru
Aku Suka Warna Biru

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [ ]:
#Contoh
a = "Hello"
print(a)

Hello

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [ ]:
#Mulai Program mu....^_^
d = 'DITA'
print(d)

DITA

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [ ]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [ ]:
#Mulai Program mu....^_^
x = '''Saya pergi tamasya
berkeliling-keliling kota
hendak melihat-lihat
keramaian yang ada.'''
print(x)

Saya pergi tamasya
berkeliling-keliling kota
hendak melihat-lihat
keramaian yang ada.

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [ ]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [ ]:
#Mulai Program mu....^_^
x = """Ada dua bebek pergi berenang
naik gunung lalu menghilang
induk bebek memanggil kwek kwek
hilang satu tinggalah satu"""
print(x)

Ada dua bebek pergi berenang
naik gunung lalu menghilang
induk bebek memanggil kwek kwek
hilang satu tinggalah satu

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [ ]:
#Contoh
a = "Hello, World!"
print(a[1])

e

Expected output:
```
e
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [ ]:
#Mulai Program mu....^_^
y = "Dia suka warna hijau"
print(y[3])

Penjelasan : Mengapa outputnya kosong? Karena karakter di posisi 3 adalah spasi, maka hasil outputnya spasi juga sehingga terlihat kosong.

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [ ]:
#Contoh :
b = "Hello, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):0

llo

Expected output:
```
llo
```

In [ ]:
#Mulai Program mu....^_^
x = "Pada hari minggu ku turut ayah ke kota"
print(x[5:])
#Dapatkan karakter dari posisi ke 5 sampai posisi terakhir

hari minggu ku turut ayah ke kota

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [ ]:
#Contoh
b = "Hello, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 2 (tidak termasuk), mulai hitungan dari akhir string:

orl

Expected output:
```
orl
```

In [ ]:
#Mulai Program mu....^_^
x = "Aku suka ciki, kamu suka ciki, ciki kesukaan kita semua"
print(x[-5:-1])

semu

In [ ]:
#Contoh
a = "Hello, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

13

Expected Output :
```
13
```

In [ ]:
#Mulai Program mu....^_^
x = "Aku suka ciki, kamu suka ciki, ciki kesukaan kita semua"
print(len(x))

55

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [ ]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

True

Expected Output :
```
True
```

In [ ]:
#Mulai Program mu....^_^
txt = "Dingin-dingin paling enak makan indomie"
z = "idm" in txt
print(z)

False

Penjelasan : *False*, karena tidak ada frasa 'idm' dalam teks

In [ ]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

False

Expected Output :
```
False
```

In [ ]:
#Mulai Program mu....^_^
txt = "Hujan-hujan enaknya konsumsi ICBP"
c = "ICBP" not in txt
print(c)

False

Penjelsan : *False*, karena ada frasa 'ICBP' pada teks

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [ ]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Output :
```
HelloWorld
```

In [ ]:
#Mulai Program mu....^_^
a = "Aku"
b = "Suka"
c = "Dia"
z = a+b+c
print(z)

AkuSukaDia

In [ ]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Output :
```
Hello World
```

In [ ]:
#Mulai Program mu....
a = "Aku"
b = "Suka"
c = "Dia"
z = a+" "+b+" "+c
print(z)

Aku Suka Dia

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [ ]:
#Contoh
umur = "20"
txt = "Nama saya Dita, umur saya " + umur + " tahun"
print(txt)

Nama saya Dita, umur saya 20 tahun

Output :
```
Nama saya Dita, umur saya 20 tahun
```

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [ ]:
#Contoh
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Output :
```
Hello, World!
```

In [ ]:
#Mulai Program Mu....
g = " Hai sobat ambyar "
print(g.strip())

Hai sobat ambyar

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [ ]:
#Contoh
a = "HELLO, World!"
print(a.lower())

hello, world!

Output :
```
hello, world!
```

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Output :
```
HELLO, WORLD!
```

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Output :
```
Jello, World!
```

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Output :
```
['Hello', ' World!']
```

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf apital

In [ ]:
#Contoh
a = "hello, world"
print(a.capitalize())

Hello, world

Output :
```
Hello, world
```

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [ ]:
#Contoh
a = "Hello, World"
print(a.casefold())

hello, world

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [ ]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 2

Output :
```
Jumlah : 2
```

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [ ]:
a = "Watashi no namae wa Dita desu"

x = a.encode()

print(x)

b'Watashi no namae wa Dita desu'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [ ]:
a = "Watashi no namae wa Dita desu"

x = a.swapcase()

print(x)

wATASHI NO NAMAE WA dITA DESU

Output :
```
wATASHI NO NAMAE WA dITA DESU
```



---


# **Dictionary Pada Python**


---


Berbeda dengan List dan Tuple, didalam Dictionary Python setiap urutanya berisi key dan value yang bersifat tidak berurutan. 
1. Setiap key dipisahkan dari value-nya oleh titik dua (:)
2. item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
3. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

**Contoh 1:**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015065}
print(type(dict))

<class 'dict'>

Yuk coba buat dictionary kamu :)

In [ ]:
#Membuat directory
dict= {'Nama' : 'Dita' , 'Hobi' : 'rebahan' , 'Umur' : 20 , 'Telp' : +6281234567890}
print(type(dict))

<class 'dict'>

## Mengakses Nilai pada Dictionary
Untuk mengakses elemen Dictionary, dapat menggunakan kurung siku yang berisi key ['key'] untuk mendapatkan value yang diinginkan.

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015065] = ", dict[1800015065])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015065] =  NIM

Nah sekarang coba akses nilai di dictionary kamu, go go go

In [ ]:
#Mengakses nilai directory
dict= {'Nama' : 'Dita' , 'Hobi' : 'rebahan' , 'Umur' : 20 , 'Telp' : 6281234567890}
print(type(dict))
print("dict['Nama'] = ", dict['Nama'])
print("dict['Hobi'] = ", dict['Hobi'])
print("dict['Umur'] = ", dict['Umur'])
print("dict['Telp'] = ", dict['Telp'])

<class 'dict'>
dict['Nama'] =  Dita
dict['Hobi'] =  rebahan
dict['Umur'] =  20
dict['Telp'] =  6281234567890

## Mengubah Nilai pada Dictionary
Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict[1800015065] = 'Bukan NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UGM' #Menambah entri atau value
print("dict[1800015065] =", dict[1800015065]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015065] = Bukan NIM
dict['Universitas'] = UGM

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "year" : 2004
}
print(thisdict)

{'brand': 'Toyota', 'model': 'Kijang', 'year': 2004}

Sekarang sudah tau kan kalo nilai dictionary bisa diubah dan kalian sudah paham kan gimana ngubahnya, yuk dicoba dulu biar makin paham :)

In [ ]:
#Mengubah nilai directory
dict= {'Nama' : 'Dita' , 'Hobi' : 'Rebahan' , 'Umur' : 20 , 'Kelas' : 'A'}
dict['Kelas'] = 'C' 
dict['Nama'] = 'Desya' 
print("dict['Kelas'] =", dict['Kelas']);
print("dict['Nama'] =", dict['Nama']);

dict['Kelas'] = C
dict['Nama'] = Desya

## Loop Melalui Dictionary

Pada bagian Pengulangan melalui Dictionary, kita dapat melakukan Loop(Pengulangan) melalui Dictionary dengan menggunakan **for** loop.

Saat melakukan pengulangan melalui Dictionary, nilai yang dikembalikan adalah kunci dari Dictionary, tetapi terdapat metode untuk mengembalikan nilai

Sebagai contoh :
Print semua nama kunci dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

**Contoh 2:**

Print semua *nilai* dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(thisdict[x])

Toyota
Kijang
2004

**Contoh 3:**

Kita juga dapat menggunakan **values()** yang merupakan metode untuk mengembalikan nilai Dictionary

In [ ]:
for x in thisdict.values():
  print(x)

Toyota
Kijang
2004

**Contoh 4:**

Ulangi kedua kunci dan nilai, dengan menggunakan metode **items()**:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Toyota
model Kijang
year 2004

Di atas sudah diberikan contoh loop melalui directory menggunakan berbagai cara, sekarang kalian coba biar makin paham

In [ ]:
#Loop Melalui Directory
thisdict = {
    "warna" : "Biru",
    "hp" : "samsung",
    "year" : 2019
}
for x in thisdict:
  print(thisdict[x])

Biru
samsung
2019

## Mengecek keanggotaan suatu key
Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan **in** sebagai kunci

**Contoh 6:**

Cek jika "model" terdapat pada Dictionary

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "tahun" : 2004
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'model' adalah salah satu dari kunci dalam distict dictionary

Sekarang kalian coba deh cek keanggotaan suatu key yang ada di dictionary kalian, siapa tahu bukan merupakan anggota kan, bisa jadi penyusup xixixi

In [2]:
#Mengecek keanggotaan suatu key
thisdict = {
    "warna" : "Biru",
    "hp" : "samsung",
    "year" : 2019
}
if "hp" in thisdict :
  print("Ya, 'hp' merupakan salah satu dari kunci dalam distict dictionary")

Ya, 'hp' merupakan salah satu dari kunci dalam distict dictionary

## Menambah Item

Untuk menambahkan item, kita dapat menggunakan kunci index baru dengan langsung memberikan nilainya. Untuk contohnya, bisa dilihat kode di bawah ini yaa :)

In [3]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict['School'] = "DPS School" # Menambah entri baru pada thisdict

print (thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Selain menggunakan format di atas, untuk menambahkan item kita juga bisa menggunakan method update().

In [4]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Nah iya nih dalam menambah item baru pada dictionary bisa dilakukan dengan 2 cara, menurut kalian mudah yang mana, dicoba dulu biar tahu rasanya hohoho

In [5]:
#Menambah item baru pada dictionary
thisdict = {'Warna' : 'Biru', 'Nilai' : 80, 'Nama' : 'Mas Al'}
thisdict.update({"Cita Cita" : "Jadi Kaya"})
print(thisdict)

{'Warna': 'Biru', 'Nilai': 80, 'Nama': 'Mas Al', 'Cita Cita': 'Jadi Kaya'}

## Menghapus Item

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

- Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

- Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

- Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

- Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [6]:
#Menghapus item menggunakan del
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del thisdict["Name"]

print(thisdict)

{'Age': 7, 'Class': 'First'}

In [7]:
#Menghapus item menggunakan method pop()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.pop("Age")

print(thisdict)

{'Name': 'Zara', 'Class': 'First'}

In [8]:
#Menghapus item menggunakan method popitem()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.popitem()

print(thisdict)

{'Name': 'Zara', 'Age': 7}

In [12]:
#Menghapus item menggunakan method clear()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.clear()

print(thisdict)

{}

Dan kalo menghapus dictionary ternyata ada 4 cara lohh, pada contoh di atas sudah jelas kan, supaya tambah jelas silahkan dicoba yaa ;)

In [17]:
#Menghapus item menggunakan del
thisdict = {'Nama' : 'Dita', 'Nilai' : 80, 'Kuliah' : 'UAD'}
del thisdict["Nilai"]
print(thisdict)

{'Nama': 'Dita', 'Kuliah': 'UAD'}

In [18]:
#Menghapus item menggunapak method pop()
thisdict = {'Nama' : 'Dita', 'Nilai' : 80, 'Kuliah' : 'UAD'}
thisdict.pop("Kuliah")
print(thisdict)

{'Nama': 'Dita', 'Nilai': 80}

In [20]:
#Menghapus item menggunakan method popitem()
thisdict = {'Nama' : 'Dita', 'Nilai' : 80, 'Kuliah' : 'UAD'}
thisdict.popitem()
print(thisdict)

{'Nama': 'Dita', 'Nilai': 80}

In [21]:
#Menghapus item menggunakan method clear()
thisdict = {'Nama' : 'Dita', 'Nilai' : 80, 'Kuliah' : 'UAD'}
thisdict.clear()
print(thisdict)

{}

## Menyalin Dictionary

Untuk menyalin dictionary, kita dapat menggunakan method copy().

In [ ]:
#Menggunakan method copy()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict=thisdict.copy()

print(mydict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

Yuk coba salin dictionary yang telah kalian buat tadi, biar bisa diotak atik lagi xixixi

In [22]:
#Menyalin dictionary
thisdict = {'Nama' : 'Dita', 'Nilai' : 80, 'Kuliah' : 'UAD'}
mydict=thisdict.copy()

print(mydict)

{'Nama': 'Dita', 'Nilai': 80, 'Kuliah': 'UAD'}

## Nested Dictionary
Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [ ]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

{'anak1': {'nama': 'dera', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [ ]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

Atau kita juga dapat menggunakan fungsi dict() untuk membuat kamus yang baru

In [23]:
Indoapril=dict(barang='Minuman',merek='BearBrand',harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

{'barang': 'Minuman', 'merek': 'BearBrand', 'harga': 7000}

Paham belum nih tentang materi nested dictionary, coba sekarang kalian buat dan pahami, nanti pasti paham kalo udah nyoba ;)

In [24]:
#Nested dictionary
ayah = {"Nama":"Joko", "Umur":"35 tahun"}
ibu = {"Nama":"Siti", "Umur":"30 tahun"}
anak = {"Nama":"Sinta", "Umur":"5 tahun"}
Kel_Shinta={"ayah":ayah, "ibu":ibu, "anak":anak}
print(Kel_Shinta)

{'ayah': {'Nama': 'Joko', 'Umur': '35 tahun'}, 'ibu': {'Nama': 'Siti', 'Umur': '30 tahun'}, 'anak': {'Nama': 'Sinta', 'Umur': '5 tahun'}}



---


#**Berbagai Method untuk Dictionary**

---

- clear() : Menghapus semua elemen dictionary
- copy() : Mengembalikan salinan dictionary
- fromkeys() : Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.
- get() : Mengembalikan nilai dari kunci yang ditentukan
- items() : Mengembalikan daftar dari pasangan tuple dictionary (key, value)
- keys() : Mengembalikan daftar key dictionary
- pop() : Menghapus item kunci yang disebutkan
- popitem() : Menghapus item yang terakhir dimasukkan
- setdefault() : Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci dengan nilai yang ditentukan
- update() : Menambah pasangan kunci yang diinginkan
- values() : Mengembalikan daftar nilai dictionary

## Clear()
Untuk menghapus semua item/elemen yang termuat didalam dictionary, gunakan fungsi **clear()**

dictionary.clear

print(dictionary)

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict.clear()
print(dict)

{}

## Copy()
Untuk mengcopy/menyalin item didalam dictionary, bisa digunakan fungsi **copy()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2018, 1800015065: 'NIM'}

##Fromkeys()
Untuk menyalin elemen di dalam dictionary, namun dengan kunci(key) dan nilai(value) tertentu, dapat menggunakan fungsi **fromkeys()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
x = ('Universitas', 'Prodi')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Universitas': 0, 'Prodi': 0}

## Get()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get('model'))

Mustang

##Items()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

##Pop()

Menghapus item kunci sekaligus value yang disebutkan,mari kita lihat contohnya dibawah ini

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
indoapril.pop('Barang')
print(indoapril)

{'Merek': 'Bandai', 'Jumlah': 200}

## Popitem()

Menghapus item yang terakhir dimasukkan

In [ ]:
#Kita akan menghilangkan pelakor dalam "kehidupan_keluarga"
kehidupan_keluarga={'suami':'Budi','istri':'Dewi','pelakor':'Sari'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'Budi', 'istri': 'Dewi'}

## Update()

Menambahkan pasangan kunci yang diinginkan

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':2000}
indoapril.update({'Tanggal_Masuk': 12022020})
print(indoapril)

{'Barang': 'Gundam', 'Merek': 'Bandai', 'Jumlah': 2000, 'Tanggal_Masuk': 12022020}

## Values()

Mengembalikan daftar nilai pada dictionary

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
a=indoapril.values()
print(a)

dict_values(['Gundam', 'Bandai', 200])

## len()

Method len digunakan untuk mengetahui banyaknya item yang ada pada directory

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(car))

3

#The End Of Notebook

Alhamdulillah